{{!-- {{#if}} --}}
{{!-- <section id="notifications">
            <div class="p-3 mb-2 bg-success w-50 text-white text-center" id="successNotification">Success</div>
            <div class="p-3 mb-2 bg-danger w-50 text-white text-center" id="errorNotification">Error</div>
            <div class="p-3 mb-2 bg-info w-50 text-white text-center" id="loadingNotification">Loading...</div>
        </section> --}}
{{!-- {{/if}} --}}



{{!-- <div id="notifications">
    <div id="successBox" class="alert alert-success" role="alert">{Success Message...}</div>
    <div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
    <div id="errorBox" class="alert alert-danger" role="alert">{Error Message...}</div>
  </div> --}}

<div id="notifications">
    <div id="successBox" class="alert alert-success" role="alert">{Success Message...}</div>
    <div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
    <div id="errorBox" class="alert alert-danger" role="alert">{Error Message...}</div>
</div>